*{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --text__color: #ffffff;
}
.hero{
    background-color:#83a3c7;
    background-image: url("../thiet-bi-ho-tro-tre-khiem-thi/image/spkt-scene.jpg");
    color: var(--text__color);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:100px;
    padding-left:100px;
}

body{
    margin:0;
    font-family:system-ui;
}

.btn{
    font-size: 3rem;
    background-color: #303090;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color:var(--text__color);
    padding: 0.25em 1em;
    border-radius: 0.25em;
    width: 300px;
}

.btn:hover{
    font-size: 3rem;
    background-color: #1e1e5d;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color:var(--text__color);
    padding: 0.25em 1em;
    border-radius: 0.25em;
    width: 300px;
}

.img{
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:100px;
    padding-left:100px;
}