.hero{
    background-color:#97aec9;
    background-image: url("../thiet-bi-ho-tro-tre-khiem-thi/image/cloud.jpg");
    color:black;
    background-size:cover;
    background-repeat:no-repeat;
    padding-top:15px;
    padding-bottom:15px;
}
body{
    margin:0;
    font-family:system-ui;
}
.btn-1{
    font-size: 4rem;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color:gold;
    border:black 4px solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
}